{% block navbar %}
                <!-- navigation -->
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <a class="navbar-brand d-block d-lg-none"><img src="static/img/work-avatar.png" alt="A pale girl with long brown hair drawn in a chalky cartoonish style. Is wearing a pink jacket, and a small sprout appears from their head."></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a href="#" aria-current="page" class="nav-link">
                                        <img src="static/img/icons/house-fill.svg" alt="Small house icon in black."> Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <img src="static/img/icons/person-fill.svg" alt="Small person icon in black."> About
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <img src="static/img/icons/person-fill.svg" alt="Small person icon in black."> Projects
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="static/img/icons/file-text-fill.svg"
                                             alt="Small book icon in black."> Education
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Django Blog</a></li>
                                        <li><a class="dropdown-item" href="#">Django Music App</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
{% endblock %}