{% block sidebar %}
            <!-- sidebar -->
            <div class="col-4 d-none d-lg-block sidebar">
                <!-- contact information -->
                <img src="static/img/work-avatar.png" class="avatar h-auto img-fluid"
                     alt="A pale girl with long brown hair drawn in a chalky cartoonish style. Is wearing a pink jacket, and a small sprout appears from their head.">
                <h1>Elia Deppe</h1>
                <p>she / her</p>
                <br>

                <!-- work and contact information -->
                <h2>Contact</h2>
                <div class="ps-xxl-4 ps-xl-3 ps-lg-2">
                    <address>
                        <i class="bi-envelope-fill" alt="An envelope in black, with transparent outlines."></i> <span id="personal-email">elia.deppe7@gmail.com</span>
                        <button type="button" class="btn btn-secondary copy-btn" onclick="copyPersonalEmail(`personal-email`)">
                            <img src="static/img/icons/clipboard-plus.svg" alt="An outline of a clipboard, with rounded corners, and a plus symbol in the middle.">
                        </button>
                    </address>
                    <address>
                        <i class='bi-envelope-fill' alt="An envelope in black, with transparent outlines."></i> <span id="work-email">deppee@imsweb.com</span>
                        <button type="button" class="btn btn-secondary copy-btn" onclick="copyPersonalEmail(`work-email`)">
                            <img src="static/img/icons/clipboard-plus.svg" alt="An outline of a clipboard, with rounded corners, and a plus symbol in the middle.">
                        </button>
                    </address>
                    <address>
                        <a href="https://github.com/eliaseraphim" target="_blank">
                            <i class="bi-github" alt="Github Icon. A transparent cat, with a black circle behind it."></i> eliaseraphim
                        </a>
                    </address>
                    <address>
                        <a href="https://stackoverflow.com/users/11713970/eliaseraphim" target="_blank">
                            <i class="bi-stack-overflow" alt="Stack Overflow icon."></i> eliaseraphim
                        </a>
                    </address>
                    <address>
                        <a href="https://www.linkedin.com/in/elia-deppe-aa402a121/" target="_blank">
                            <i class="bi-linkedin" alt="LinkedIn Icon. Transparent bold letters 'in', with a black rounded square behind it."></i> elia deppe
                        </a>
                    </address>
                </div>
            </div>
{% endblock %}