{% block sidebar %}
            <!-- sidebar -->
            <div class="col-4 d-none d-lg-block sidebar">
                <!-- contact information -->
                <img src="static/img/work-avatar.png" class="avatar h-auto img-fluid"
                     alt="A pale girl with long brown hair drawn in a chalky cartoonish style. Is wearing a pink jacket, and a small sprout appears from their head.">
                <h1>Elia Deppe</h1>
                <p>she / her</p>
                <br>
            {% include "structure/contact.html" %}
            </div>
{% endblock %}