{% extends "base.html" %}

{% block content %}
                <!-- projects -->
                <div>
                    <h1>Projects</h1>

                    <!-- eliaseraphim.github.io -->
                    <div class="ps-3">
                        <h2>
                            <a href="https://github.com/eliaseraphim/eliaseraphim.github.io" class="project-repo">
                                eliaseraphim.github.io
                            </a>
                        </h2>

                        <div class="ps-3">
                            <!-- description -->
                            <h3>Description</h3>
                            <div class="ps-3">
                                <p>Personal portfolio website. You're looking at it!</p>
                                <p>Built using HTML/CSS/JS.</p>
                            </div>

                            <!-- dependencies -->
                            <h3>Dependencies</h3>
                            <div class="ps-3">
                                <h4>Web</h4>
                                <ul>
                                    <li><a href="https://getbootstrap.com/">Bootstrap</a> v5.3.0</li>
                                    <li><a href="https://jquery.com/">jQuery</a> v3.6.3</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- blog -->
                    <div class="ps-3">
                        <h2>
                            <a href="https://github.com/eliaseraphim/blog" class="project-repo">
                                blog
                            </a>
                        </h2>

                        <div class="ps-3">
                            <!-- description -->
                            <h3>Description</h3>
                            <div class="ps-3">
                                <p>Personal blog, made for fun. Built using Django.</p>
                                <p>Features</p>
                                <ul>
                                    <li>Create, edit, and delete posts.</li>
                                    <li>Attach images to posts.</li>
                                </ul>
                            </div>

                            <!-- dependencies -->
                            <h3>Dependencies</h3>
                            <div class="ps-3">
                                <h4>Python</h4>
                                <ul>
                                    <li><a href="https://pypi.org/project/asgiref/">asgiref</a> v3.6.0</li>
                                    <li><a href="https://pypi.org/project/Django/">Django</a> v4.1.5</li>
                                    <li><a href="https://pypi.org/project/django-cleanup/">django-cleanup</a> v6.0.0</li>
                                    <li><a href="https://pypi.org/project/Pillow/">Pillow</a> v9.4.0</li>
                                    <li><a href="https://pypi.org/project/sqlparse/">sqlparse</a> v0.4.3</li>
                                    <li><a href="https://pypi.org/project/tzdata/pyp">tzdata</a> v2022.7</li>
                                </ul>
                                <h4>Web</h4>
                                <ul>
                                    <li><a href="https://getbootstrap.com/">Bootstrap</a> v5.2.3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}