{% extends "base.html" %}

{% block content %}
                <!-- introduction -->
                <div>
                    <h1>About</h1>
                    <p>
                        To be filled out.
                    </p>
                    <div class="d-block d-lg-none">
                        <h2>Contact</h2>
                        <div class="ps-xxl-4 ps-xl-3 ps-lg-2">
                            <address>
                                <i class="bi-envelope-fill"></i> <span id="personal-email-page">elia.deppe7@gmail.com</span>
                                <button type="button" class="btn btn-light copy-btn" onclick="copyPersonalEmail(`personal-email-page`)">
                                    <i class="bi-clipboard-plus"></i>
                                </button>
                            </address>
                            <address>
                                <i class='bi-envelope-fill'></i> <span id="work-email-page">deppee@imsweb.com</span>
                                <button type="button" class="btn btn-light copy-btn" onclick="copyPersonalEmail(`work-email-page`)">
                                    <i class="bi-clipboard-plus"></i>
                                </button>
                            </address>
                            <address>
                                <a href="https://github.com/eliaseraphim" target="_blank">
                                    <i class="bi-github"></i> eliaseraphim
                                </a>
                            </address>
                            <address>
                                <a href="https://stackoverflow.com/users/11713970/eliaseraphim" target="_blank">
                                    <i class="bi-stack-overflow"></i> eliaseraphim
                                </a>
                            </address>
                            <address>
                                <a href="https://www.linkedin.com/in/elia-deppe-aa402a121/" target="_blank">
                                    <i class="bi-linkedin"></i> elia deppe
                                </a>
                            </address>
                        </div>
                    </div>
                </div>
{% endblock %}