{% extends "base.html" %}

{% block content %}
                <!-- introduction -->
                <div>
                    <h1>Hello, my name is Elia Deppe.</h1>
                    <p>
                        Web developer @ <a href="https://www.imsweb.com/">IMS, Inc.</a> Formerly a Computer Science and
                        Python educator for <a href="https://www.codeintheschools.org/">Code in the Schools</a>.
                    </p>
                    <p>
                        Take it easy.
                    </p>
                </div>
{% endblock %}